/*----------------------------------------- 
----- Desktop portrait display mode
-----------------------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
    margin:0;
	padding:0;
}

a {
    text-decoration: none;
    color: #666;
}

.pic img {
    border-radius: 50%;
    height: auto;  
}

.skills {
    background-color: rgb(37, 37, 37);
    color: #F5F7FA;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills header {
    text-align: center;
    padding-left: 1em;
}

.skills ul {
    display:flex;
    margin-right: 0.4em;
}

.skills ul li{
    list-style-type: none;
    margin: 0.4em;
}

#desc {
    background-color: rgb(81, 81, 119);
    display: flex;
    flex-direction: column;
    color:#CCD1D9;
    left: 0;
    right: 0;
    padding-left: 10%;
    padding-right: 10%;
}

#card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#card ul p {
    padding-top: 0em;
    padding-bottom: 0em;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 1em;
    padding-bottom: 1em;
}
.logos a img {
    width: 80%;
}

.subcat {
    color: rgb(56, 56, 56);
    text-align: center;
}

.banner {
    background-image: url('../img/bg2edited.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em;
    left: 0;
    right: 0;
    color:white;
    text-align: center;
}

.timeline {
    background-color: rgb(179, 180, 190);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.timeline-block {
    width: -webkit-calc(80%);
    width: -moz-calc(80%);
    width: calc(80%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    flex-direction: row-reverse;
    clear: both;
}
 
.drawline {
    width: 5%;
    padding: 50px 0;
    position: relative;
}
 
.drawline:before {
   content: '';
   position: absolute;
   top: 0;
   left: 8px;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;

}

.marker {
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #c02680;
   margin-top: 20px;
}
 
.timeline-content {
   width: 95%;
   padding: 0 15px;
   margin-bottom: 1em;
   color: #666
}

.back-to-top {
    display: flex;
    justify-content: center;
	position:relative;

}
.back-to-top a {
    text-align:center;
    color:#666;
    width: 60px;
    font-size: 3em;
}

/*----------------------------------------- 
---------- Handheld devices 
-----------------------------------------*/

@media all and (max-width: 812px){
    .banner {
        font-size: 80%;
        padding: 4em;
    }

    #desc {
        padding-left:12%;
        padding-right:12%;
    }

    #desc section header h2 {
        text-align: center;
    }

    #card {
        flex-direction: column;
    }

    figure.pic {
        display: flex;
        justify-content: center;
    }

    .pic {
        order: 0;
    }

    .pic img {
        border-radius: 50%;
        width: 60%;
        height: auto;  
    }

    #text {
        display: flex;
        flex-direction: column;
        order: 1;
    }

    .logos {
        justify-content: center;
    }

    .timeline {
        padding-left:10%;
        padding-right:10%;
    }

}

/*----------------------------------------- 
-------------- Desktop mode 
-----------------------------------------*/

@media screen and (min-width: 1081px){
    :root {
        background-image: url('../img/bg2edited.jpg');
    }

    body {
        margin-left: 20em;
        margin-right: 20em;
    }

    main {
        display: flex;
    }

    .banner {
        min-width: 952px;
        background-color: rgb(49, 49, 49);
        background-image: unset;
    }

    #desc {
        padding-left:1%;
        padding-right:1%;
    }

    #desc section header h2 {
        text-align: center;
    }

    #card {
        flex-direction: column;
    }

    .pic {
        order: 0;
    }

    figure.pic {
        display: flex;
        justify-content: center;
    }
    #text {
        order: 1;
    }

    .logos {
        justify-content: center;
    }

    .timeline-content:hover {
        background-color: rgb(177, 177, 177);  
    }

    .timeline-content:hover a {
        color:rgb(56, 56, 56);  
    }

    .timeline-content:hover ~ .drawline .marker {
       background: #ff5100;
    }

}


 