* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
    margin:0;
	padding:0;
    background-color: rgb(179, 180, 190);
}

a {
    text-decoration: none;
    color: #666;
}
/*th, td {
    padding: 8px;
}*/

.pic img {
    border-radius: 50%;
    /*width: 100%;*/  
    height: auto;  
}

.skills {
    background-color: rgb(49, 49, 49);
    color: #F5F7FA;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.skills ul {
    display:flex;
}
.skills ul li{
    list-style-type: none;
    margin: 8px;
}

#desc {
    background-color: rgb(81, 81, 119);
    display: flex;
    flex-direction: column;
    color:#CCD1D9;
    left: 0;
    right: 0;
    padding-left: 10%;
    padding-right: 10%;
}

#card {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#card ul p{
    padding-top: 0em;
    padding-bottom: 0em;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 1em;
    padding-bottom: 1em;
}
.logos a img {
    width: 80%;
}

.subcat {
    color: rgb(56, 56, 56);
    text-align: center;
}

.banner {
    background-image: url('../img/bg2edited.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:100px;
    left: 0;
    right: 0;
    z-index: 0;
    font-size: 1.5em;
    color:white;
    text-align: center;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 4em;
}

.timeline-block {
    width: -webkit-calc(80%);
    width: -moz-calc(80%);
    width: calc(80%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    flex-direction: row-reverse;
    clear: both;
}
 
.drawline {
    width: 5%;
    padding: 50px 0;
    position: relative;
}
 
.drawline:before {
   content: '';
   position: absolute;
   top: 0;
   left: 8px;
   margin-left: -1px;
   width: 2px;
   height: 100%;
   background: #CCD1D9;

}

.marker {
   position: absolute;
   width: 16px;
   height: 16px;
   border-radius: 50%;
   border: 2px solid #F5F7FA;
   background: #c02680;
   margin-top: 20px;
}
 
.timeline-content {
   width: 95%;
   padding: 0 15px;
   margin-bottom: 1em;
   color: #666
}
.timeline-content:hover{
    background-color: rgb(177, 177, 177);  
}
.timeline-content:hover a{
    color:rgb(56, 56, 56);  
}
.timeline-content:hover ~ .drawline .marker{
   background: #ff5100;
}
 


@media screen and (max-width: 768px) {
   .drawline:before {
      left: 8px;
      width: 2px;
   }
   .timeline-block {
      width: 100%;
      margin-bottom: 30px;
   }

}
 